* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: inline-block;
}

h1 {
  text-align: center;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.678);
}

details:hover {
  cursor: pointer;
}

.canvas {
  background-color: black;
  width: 100%;
}

.health-bar {
  background-color: slategray;
  height: 20px;
  width: 300px;
  margin-left: 10px;
  border: 3px solid saddlebrown;
  border-right: none;
}

.timer {
  background-color: bisque;
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  border: 3px solid saddlebrown;
}
#score{
  margin-left: 35%;
}

.screen-control {
  margin-left: 50px;
  font-size: larger;
}
#up {
  margin-left: 33px;
}

button {
  background-color: gray;
  height: 35px;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.678);
  transition: transform .2s;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
button:active {
  transform: scale(0.96);
}

#health {
  background-color: red;
  height: 14px;
  width: 300px;
}